
.modal-dialog{
    .modal-body{
        label{
            .error_text{
                color: red;
                display: block;
                text-align: right;
                font-size: 14px;
                margin-right: 20px;
                margin-top:5px;
            }
        }
    }
}