
#search_p{
    margin-right: 10px;
    height:34px;;
}
#search_btn{
    height:34px;
}


.table_column{
    display: flex;
    .cur_price{
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        b{
            font-weight: normal;
            margin-left:10px;
            color:#f00;
        }
    }
    .btn{
        margin-left:10px;
    }
    input[type="number"]{
        width:80px;
    }
    .my_loading{
        width:80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.modal-dialog{
    .modal-body{
        label{
            .error_text{
                color: red;
                display: block;
                text-align: right;
                font-size: 14px;
                margin-right: 20px;
                margin-top:5px;
            }
        }


        .checkbox_outter{
            border: 1px solid #a9a9a9;
            border-radius: 5px;
            padding: 5px 0 5px 0;
            margin-bottom: 15px;
            height:138px;
            overflow-y: scroll;
            .child_item{
                padding-left:15px;
                margin-bottom: 10px;
            }
            .child_item2{
                padding-left:30px;
                margin-bottom: 10px;
            }
            .form-group{
                margin-bottom: 0;
                .form-check{
                    padding-left:10px;
                    display:flex;
                    align-items: center;
                    margin-bottom: 10px;;
                    &:last-child{
                        margin-bottom: 0px;;
                    }
                    input{
                        display: block;
                        position: relative;
                        margin-top: 3px;
                    }
                    label{
                        display: block;
                        margin-bottom: 0;;
                        font-size: 14px;;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}