#global_nav{
    background:#556ee6;
    margin-left: -20px;
    a{
        color: #fff;
    }
    .dropdown-menu .dropdown-item{
            color:#333;
    }
    input[type="text"]{
        border-color:#fff;
    }
}
